extends layout.pug

block number1
    p.text LIST STATUS
    if error
        p.error ENTER THE TASK

    if success
        p.success TASK ADDED

    if deleted
        p.success Deleted 
    div.form_container
        form.form(action='/add' method='POST')
            input.input(type='text', placeholder='ADD THE TASK' name='todo')
            button.btn +

    div.todos
        if (todos.length)  
            each todo in todos
                p.todo 
                    if todo.done
                        a.done(href=`/${ todo.id}/update`) #{ todo.description}
                    else
                        a.undone(href=`/${ todo.id}/update`) #{ todo.description}
                    if todo.undo
                        a.done(href=`/${ todo.id}/update`) #{ todo.description}
                    a.delete(href=`/${ todo.id }/delete`) Delete
        else
            p.todo Add tasks